 <div class="user-details">
  <h1> About Me </h1>
  <p> Master of Data Science - VUW. <br> Will attempt to DIY everything. <br> Always up for a new project.<br> Wellington based. <br>  Eco-Minimalist. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <img src="{{ "/assets/img/R.png" | prepend: site.baseurl }}" width="75" height="75" />
      <i class="devicon-python-plain-wordmark"></i>
      <img src="{{ "/assets/img/sql.png" | prepend: site.baseurl }}" width="75" height="75" />
      <img src="{{ "/assets/img/SAS2.png" | prepend: site.baseurl }}" width="75" height="75" />
      <p>I primarily use Python, R and SAS but have experience with other languages including SQL and MATLAB.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <img src="{{ "/assets/img/RStudio.png" | prepend: site.baseurl }}" width="75" height="75" />
      <img src="{{ "/assets/img/excel_logo.png" | prepend: site.baseurl }}" width="75" height="75" />
      <i class="devicon-git-plain"></i>
      <img src="{{ "/assets/img/powerbi.jpg" | prepend: site.baseurl }}" width="75" height="75" />
      <p>RStudio, Excel, Git, PowerBI, Tableau, PostgreSQL, LaTeX, you name it and I can probably work it!</p>
    </div>
</div>
