 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <img src="{{ "/assets/img/R.png" | prepend: site.baseurl }}" width="75" height="75" />
      <i class="devicon-python-plain-wordmark"></i>
      <img src="{{ "/assets/img/sql.png" | prepend: site.baseurl }}" width="75" height="75" />
      <img src="{{ "/assets/img/SAS2.png" | prepend: site.baseurl }}" width="75" height="75" />
      <p>I primarily use R and SAS but have experience with a variety of languages including Python, SQL and MATLAB.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <img src="{{ "/assets/img/RStudio.png" | prepend: site.baseurl }}" width="75" height="75" />
      <img src="{{ "/assets/img/excel_logo.png" | prepend: site.baseurl }}" width="75" height="75" />
      <i class="devicon-git-plain"></i>
      <img src="{{ "/assets/img/powerbi.jpg" | prepend: site.baseurl }}" width="75" height="75" />
      <p>RStudio, Excel, Git, PowerBI, The Tidyverse, Atom, PostgreSQL, Matlibplot, LaTeX, you name it and I can probably work it!</p>
    </div>
</div>
