<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:daniel-petterson@outlook.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/danielpetterson"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <!-- <a aria-label="My Kaggle" target="_blank" href="https://www.kaggle.com/dpet922"><i class="fa fa-kaggle"></i></a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
