<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/bird_app.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Estimating Exposure of Vulnerable Seabird Populations to Offshore Light Pollution  </h3>
    <ul>
      <li> R, Bayesian Modelling, Shiny </li>
    </ul>
    <p>Data from light sensors attached to vulnerable seabirds was used to estimate migration patterns and determine the location of artificial light events.</p>
    <a class="project-link" href="/proj/Estimating-Exposure-of-Vulnerable-Seabird-Populations-to-Offshore-Light-Pollution.pdf">Project Report</a>
    <a class="project-link" href="https://docnewzealand.shinyapps.io/seabird_ALAN/">Shiny App</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="/assets/img/weather_driven.PNG" height="350">
  </div>
  <div class="contents-right">
    <h3>Time Series Analysis of Spanish Electricity Generation</h3>
    <ul>
      <li> R, EDA, Time Series</li>
    </ul>
    <p>In this project we delve into methods of electricity generation in Spain over time. </p>
    <a class="project-link" href="proj/TS_EDA_Report.html">EDA Report</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/000035.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Generative aRt </h3>
    <ul>
      <li> R, Shiny, Visualisation</li>
    </ul>
    <p> This app allows users to easily generate art using a particle physics simulation package and a variety of data visualisation options. </p>
    <a class="project-link" href="https://danielpetterson.shinyapps.io/generative-art-particles/">Try it!</a>
      <a class="project-link" href="https://github.com/danielpetterson/generative-aRt-particles">Github Repo</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="/assets/img/SootyShearwater.png" height="350">
  </div>
  <div class="contents-right">
    <h3>Solar Geolocation for Animal Tracking</h3>
    <ul>
      <li> R, Package Development</li>
    </ul>
    <p>The purpose of this package is to generalise the probGLS algorithm to areas outside of Eurasia and to allow for effective masking if the geographical bounds of a species are well known.</p>
    <a class="project-link" href="https://github.com/danielpetterson/probGLSAlgorithm">Github Repo</a>
    <a class="project-link" href="/proj/DesignPlan.pdf">Design Plan</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="/assets/img/CarDashboardScreen.png" height="350">
  </div>
  <div class="contents-right">
    <h3>Car Sales Dashboard</h3>
    <ul>
      <li> Power BI, DAX</li>
    </ul>
    <p>Interactive dashboards allow stakeholders to explore data on their own and track relevant KPIs. This example uses a fictional dataset of car sales in the US. </p>
    <a class="project-link" href="/proj/CarSalesDashboard.pbix">Power BI Workbook</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/amstel_dog.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Choice Modeling: Introducing Amstel </h3>
    <ul>
      <li> Excel, Experimental Design</li>
    </ul>
    <p>"Should we take this product to market?". The question whose answer could make or break a business or at the very least make a sizeable impact on their bottom line. In this project we look at the predicted impact of introducing Amstel beer to the New Zealand market and play around with an Interactive Decision Tool to showcase the expected result given a variety of pricing strategies.</p>
    <a class="project-link" href="/proj/ChoiceModeling_Amstel.html">Check it out</a> <a class="project-link" href="/proj/Amstel_excel.xls">Interactive Design Tool</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/kanye2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> The Road to Yandhi: Sentiment Analysis of Kanye West Lyrics </h3>
    <ul>
      <li> R, Data Wrangling, Data Visualisation</li>
    </ul>
    <p>On the eve of his next album, we delve into the lyrics of Kanye's previous masterpieces and explore how his music has changed over time.</p>
    <a class="project-link" href="/proj/kanyefinal.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/NZtradeUSSR.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> NZ Trade with the former USSR </h3>
    <ul>
      <li> R, Data Visualisation</li>
    </ul>
    <p>How has New Zealand's trade relationship with the former Soviet Union changed over time? Which markets can't get enough of our dairy? And what do we get in return? Hint: It isn't <a target="_blank" href="https://www.themoscowtimes.com/2013/10/16/russia-offered-new-zealand-nuclear-sub-to-settle-dairy-debt-in-1990s-a28672">nuclear submarines</a>. In this project we explore economic data from Stats NZ.</p>
    <a class="project-link" href="/proj/NZtrade_fmrussr.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="/assets/img/trial_app_screenshot.png" height="350">
  </div>
  <div class="contents-right">
    <h3>Clinical Trial Aggregator</h3>
    <ul>
      <li> Python, Swift, Mobile Development</li>
    </ul>
    <p>I'm currently developing an iOS app to connect people to clinical drug trials based on their eligibility. The backend is powered by Python and the app itself is written in Swift using UIkit.</p>
    <a class="project-link" href="https://github.com/danielpetterson/trial-database">Github Repo</a>
  </div>
</div>
</div>

