<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/000035.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Generative aRt </h3>
    <ul>
      <li> R, Shiny, Visualisation</li>
    </ul>
    <p> This app allows users to easily generate art using a particle physics simulation package and a variety of data visualisation options. </p>
    <a class="project-link" href="https://danielpetterson.shinyapps.io/generative-art-particles/">Try it!</a>
      <a class="project-link" href="https://github.com/danielpetterson/generative-aRt-particles">Github Repo</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/Snake_game.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Snake </h3>
    <ul>
      <li> Python, Game</li>
    </ul>
    <p> I've always wanted to try make a game so I figured I'd replicate the greatest mobile game of all time. Give it a try! </p>
    <a class="project-link" href="https://github.com/danielpetterson/Snake_game_dp">Github Repo</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/bitcoin.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Darknet Market Analysis - In Progress </h3>
    <ul>
      <li> Python/R, Dash, Webscraping</li>
    </ul>
    <p> This project compares differences between darknet markets, distribution of products and variables that affect product pricing. All data are extracted from scrapes carried out between 2013 and 2015 but I am working on a webscraper to retrieve current listings and will update accordingly. I'm also experimenting with creating a web app using Dash. </p>
    <a class="project-link" href="https://github.com/danielpetterson/darkwebmarkets">Github Repo</a>
    <a class="project-link" href="https://www.kaggle.com/dpet922/silkroad2-cocaine-eda">Exploration of Cocaine Data</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/amstel_dog.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Choice Modeling: Introducing Amstel </h3>
    <ul>
      <li> Excel, Experimental Design</li>
    </ul>
    <p>"Should we take this product to market?". The question whose answer could make or break a business or at the very least make a sizeable impact on their bottom line. In this project we look at the predicted impact of introducing Amstel beer to the New Zealand market and play around with an Interactive Decision Tool to showcase the expected result given a variety of pricing strategies.</p>
    <a class="project-link" href="/proj/ChoiceModeling_Amstel.html">Check it out</a> <a class="project-link" href="/proj/Amstel_excel.xls">Interactive Design Tool</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/kanye2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> The Road to Yandhi: Sentiment Analysis of Kanye West Lyrics </h3>
    <ul>
      <li> R, Data Wrangling, Data Visualisation</li>
    </ul>
    <p>On the eve of his next album, we delve into the lyrics of Kanye's previous masterpieces and explore how his music has changed over time.</p>
    <a class="project-link" href="/proj/kanyefinal.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/adstockdecay.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Adstock Modeling: Comparing Campaigns</h3>
    <ul>
      <li> Regression, Excel</li>
    </ul>
    <p>Are you spending your advertising dollars efficiently? This project compares the utility of advertising on two different radio stations and provides recommendations for future advertising campaigns.</p>
    <a class="project-link" href="/proj/Adstock.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/NZtradeUSSR.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> NZ Trade with the former USSR </h3>
    <ul>
      <li> R, Data Visualisation</li>
    </ul>
    <p>How has New Zealand's trade relationship with the former Soviet Union changed over time? Which markets can't get enough of our dairy? And what do we get in return? Hint: It isn't <a target="_blank" href="https://www.themoscowtimes.com/2013/10/16/russia-offered-new-zealand-nuclear-sub-to-settle-dairy-debt-in-1990s-a28672">nuclear submarines</a>. In this project we explore economic data from Stats NZ.</p>
    <a class="project-link" href="/proj/NZtrade_fmrussr.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/CasesOverTime.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> NZ Covid-19 Dashboard </h3>
    <ul>
      <li> Tableau, Data Visualisation </li>
    </ul>
    <p> Covid-19 visualisations are all the rage these days. It's difficult to go more than 24 hours without seeing alarming charts and figures. In light of this I've made a a Tableau Story to visualise the situation to date in New Zealand </p>
    <a class="project-link" href="/proj/Covid-19_NZ_03-Sept_Daniel_Petterson.twbx">Tableau Workbook</a>
    <a class="project-link" href="https://public.tableau.com/profile/daniel.petterson#!/vizhome/Covid-19NZ03-Sept/COVID-19inNewZealand">Tableau Public</a>
  </div>
</div>
