<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/kanye2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> The Road to Yandhi: Sentiment Analysis of Kanye West Lyrics </h3>
    <ul>
      <li> R, Data Wrangling, Data Visualisation</li>
    </ul>
    <p>On the eve of his next album, we delve into the lyrics of Kanye's previous masterpieces and explore how his music has changed over time.</p>
    <a class="project-link" href="/proj/kanyefinal.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/amstel_dog.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Choice Modeling: Introducing Amstel </h3>
    <ul>
      <li> Excel, Experimental Design</li>
    </ul>
    <p>"Should we take this product to market?". The question whose answer could make or break a business or at the very least make a sizeable impact on their bottom line. In this project we look at the predicted impact of introducing Amstel beer to the New Zealand market and play around with an Interactive Decision Tool to showcase the expected result given a variety of pricing strategies.</p>
    <a class="project-link" href="/proj/ChoiceModeling_Amstel.html">Check it out</a> <a class="project-link" href="/proj/Amstel_excel.xls">Interactive Design Tool</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/adstockdecay.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Adstock Modeling: Comparing Campaigns</h3>
    <ul>
      <li> Regression, Excel</li>
    </ul>
    <p>Are you spending your advertising dollars efficiently? This project compares the utility of advertising on two different radio stations and provides recommendations for future advertising campaigns.</p>
    <a class="project-link" href="/proj/Adstock.html">Check it out</a>
  </div>
</div>
